[user]
	email = nic.girault@gmail.com
	name = nicgirault
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	oops = !git add -p && git commit --amend && git push --force
	ff = !git fetch origin --prune && git branch --merged origin/master | grep -v 'master$' | xargs git branch -d
[core]
	editor = vim
[push]
	default = current
[pull]
	default = current
[url "https://"]
  insteadOf = git://
[merge]
  tool = vimdiff
